@use '../abstracts/variables.module' as *;

html {
  color-scheme: light dark;
}

body {
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.2;

  background-color: $baseColor;
  color: $fontColor;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

h2 {
  font-size: 2rem;
}
